<body style="margin: 0;	padding: 0;">
<div style="margin:0 auto; width:1000px;">
<div id="header" style="margin-top:25px;" >
	<div id="novost" style="float:left; margin-left:45px;""><h1>Новости</h1> </div>
	<div id="link" style="padding-top:70px; float:right; margin-right:85px"><%= link_to 'Новая статья', new_article_path %></div>


 </div>

<div style="clear:both"/>
<table align="center" border="2" cellspacing="3">
<caption align="top">Список новостей</caption>
<tr>
	<td width="600px" align="center">Заголовок</td>
	<td width="130px" align="center">Дата</td>
	<td width="210px" align="center">Действия</td>
</tr>
<% @articles.each do |article| %>
<tr>
	<td width="600px" align="center"><%= article.name %></td>
	<td width="130px" align="center"><%= article.dat %></td>
	<td width="210px" align="center"><%= link_to 'Редактировать', edit_article_path(article) %>/<%= link_to 'Удалить', article, confirm: 'Может ненадо?', method: :delete %></td>
</tr>
<% end %>
</table>
</div>
</body>