
<div style="float:left"><h1>News</h1></div>
<div style="float:right; margin-right:200px; position:static"><%= link_to 'New Article', new_article_path %></div>
<div style="clear:both"/>
<table align="center" border="2" cellspacing="3" width="80%">
<caption align="top">List news</caption>
<tr>
	<td width="60%" align="center">Title</td>
	<td width="15%" align="center">Date</td>
	<td width="25%" align="center">Actions</td>
</tr>
<% @articles.each do |article| %>
<tr>
	<td width="60%" align="center"><%= article.name %></td>
	<td width="15%" align="center"><%= article.dat %></td>
	<td width="25%" align="center"><%= link_to 'Edit', edit_article_path(article) %>/<%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>

